---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-config-v1
  namespace: monitoring
  labels:
    kasten.io/backup-volume: "enabled"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: ceph-block