---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: navidrome-config
  namespace: media
  labels:
    app.kubernetes.io/name: &name navidrome
    app.kubernetes.io/instance: *name
    snapshot.home.arpa/enabled: "false"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: ceph-block
