---

name: Lint

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:

jobs:
  yaml:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
    - name: yamllint
      uses: reviewdog/action-yamllint@722e651555c5ca6db0edaada08e049825f74e431 # v1
      with:
        github_token: ${{ secrets.github_token }}
        reporter: github-pr-review
        yamllint_flags: '-c .github/yamllint.config.yaml ./cluster/'
